li {
  list-style-type: none;
}

input {
  border-radius: 6px;
  height: 2rem;
  margin-top: 0.5rem;
}

a {
  margin-left: 0.5rem;
}

a:hover {
  color: red;
  cursor: pointer;
  font-style: bold;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #91fad7;
  border-radius: 10px;
  margin: 2rem auto;
  height: 74vh;
  max-width: 80%;
  padding: 20px;
}

.main {
  display: flex;
  justify-content: space-around;
}

.data-entry {
  display: flex;
  flex-direction: column;
}

.budget-entry,
.expense-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.summary-headings {
  display: flex;
}
.summary-headings h4 {
  margin-left: 1rem;
}

.expense-info {
  display: flex;
  justify-content: space-between;
}

.data-display {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.fa {
  font-size: 4rem;
}

.fa-trash {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.fa-trash:hover {
  color: red;
  cursor: pointer;
}

.expenseLi {
  display: flex;
}

.expenseLi p {
  font-size: 1.5rem;
  margin: 0;
  padding: 0.25rem;
}
